*.ipr
*.iws
*.iml
*.jar
*.class
*.MD5
.externalToolBuilders
.classpath
.project
.settings
version.properties
build.properties
override-*.properties
classes
target/
test-output/
tmp/
logs/
.gitignore
*.log
*.log*
*.gz
var/
*~
